Package: com.boss.wechatswipetweak
Name: WeChat Swipe Tweak
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Disable right-swipe and customize left-swipe in WeChat (rootless, ElleKit).
Maintainer: boss
Author: boss
Section: Tweaks
Depends: ellekit
